.cartMain {
  width: 30%;
  height: 984px;
  top: -870px;
  right: -42px;
  position: absolute;
  z-index: 999;     // div 맨 앞으로 오기
  background-color: white;
  border-radius: 10px;
}

.cartContant {
  padding: 5%;
  display: flex;
  justify-content: space-between;

  /* 장바구니 비우기 버튼 */
  button {
    padding: 0 10px 0 10px;
    float: right;
    color: #555555;
    font-size: 20px;
    letter-spacing: 5px;
    background-color: white;
    border: 1px solid #555555;
    border-radius: 5px;
  }
}  

/* 장바구니 타이틀 */
.cartTitle {
  display: flex;
  align-items: center;

  span {
    margin-left: 10px;
    font-size: 33px;
    font-weight: 700;
  }
}

// 메뉴 추가 목록 스타일
.cartList {
  margin: 5% 0 5% 5%;
  max-height: 72%;
  overflow-y: auto;

  // 스크롤 스타일
  &::-webkit-scrollbar {
    width: 10px; // 스크롤 바의 너비
  }

  &::-webkit-scrollbar-track {
    background-color: #ffffff; // 스크롤 바의 트랙 배경색
  }

  &::-webkit-scrollbar-thumb {
    background-color: #b9b9b9; // 스크롤 바의 썸네일 배경색
    border-radius: 4px; // 스크롤 바의 썸네일의 둥근 모서리
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #FF5B5B; // 스크롤 바의 썸네일 배경색 (마우스 오버 시)
  }
}
  
/* 카트 각 상품 */
.cartItem {
  margin-bottom: 10%;
  padding-bottom: 10%;
  border-bottom: 1px solid #dedede;

  .itemCloseIcon {
    position: relative;
    left: 90%;
  }

  .itemTitle {
    margin: 0;
    font-size: 25px;
  }
  
  .itemPrice {
    margin: 2% 0 0 0;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 3px;
  }

  .itemOption {
    margin-top: 15px;

    p {
      margin: 5px;
    }
  }

  /* 메뉴 갯수 */
  .itemCount {
    margin: 7%;
    display: flex;
    justify-content: space-between;

    span {
      color: #555555;
      font-size: 35px;
      font-weight: 700;
    }
  }
}

/* 카트 총 합계 */
.cartTotal {
  position: absolute;
  bottom: 10%;
  width: 90%;
  margin: 5%;
  display: flex;
  justify-content: space-between;

  span {
    font-size: 30px;
  }
}  

.cartTotalPrice {
  font-size: 35px;
  font-weight: 600;
}

/* 주문하기 버튼 */
.cartOrderButton {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 100%;
  height: 10%;
  transform: translateX(-50%);
  border: 0px;
  border-radius: 0 0 10px 10px;
  background-color: #FF5B5B;
  color: white;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 20px;
}

/* 스크롤바 너비와 배경색 지정 */
.cartMenuList::-webkit-scrollbar {
  width: 10px; /* 스크롤바 너비 */
}

.cartMenuList::-webkit-scrollbar-track {
  background-color: #ffffff; /* 스크롤바 트랙 배경색 */
}

/* 스크롤바 썸네일 스타일 지정 */
.cartMenuList::-webkit-scrollbar-thumb {
  background-color: #b9b9b9; /* 스크롤바 썸네일 배경색 */
  border-radius: 4px; /* 스크롤바 썸네일 둥근 모서리 */
}

/* 스크롤바 썸네일 호버 시 스타일 변경 */
.cartMenuList::-webkit-scrollbar-thumb:hover {
  background-color: #FF5B5B; /* 스크롤바 썸네일 배경색 (마우스 오버 시) */
}
  