.basketMain {
    width: 25%;
    height: 984px;
    top: -878px;
    background-color: white;
    position: relative;
    float: right;
    border-radius: 10px;
}

.basketContant {
    padding: 5%;
    display: flex;
    justify-content: space-between;
}  

/* 장바구니 비우기 버튼 */
.basketContant button {
    padding: 0 10px 0 10px;
    float: right;
    background-color: white;
    font-size: 20px;
    letter-spacing: 5px;
}

/* 장바구니 타이틀 */
.basketTitle {
    display: flex;
    align-items: center;
}

.basketTitle span {
    margin-left: 10px;
    font-size: 33px;
    font-weight: 700;
}

/* 메뉴 추가 목록 */
.basketMenuList {
    margin: 5% 0 5% 5%;
    max-height: 72%;
    overflow-y: auto;
}
  /* 스크롤 */
  .basketMenuList::-webkit-scrollbar {
    width: 10px; /* 스크롤 바의 너비 */
  }
  
  .basketMenuList::-webkit-scrollbar-track {
    background-color: #ffffff; /* 스크롤 바의 트랙 배경색 */
  }
  
  .basketMenuList::-webkit-scrollbar-thumb {
    background-color: #b9b9b9; /* 스크롤 바의 썸네일 배경색 */
    border-radius: 4px; /* 스크롤 바의 썸네일의 둥근 모서리 */
  }
  
  .basketMenuList::-webkit-scrollbar-thumb:hover {
    background-color: #FF5B5B; /* 스크롤 바의 썸네일 배경색 (마우스 오버 시) */
  }
  

.basketMenuItem {
    margin-bottom: 10%;
    padding-bottom: 10%;
    border-bottom: 1px solid #dedede;
}

.basketMenuTitle {
    margin: 0;
    font-size: 25px;
}

.basketMenuPrice {
    margin: 2% 0 0 0;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 3px;
}

.basketMenuCloseIcon {
    position: relative;
    left: 90%;
}

/* 메뉴 갯수 */
.basketMenuCount {
    margin: 7%;
    display: flex;
    justify-content: space-between;
}

.basketMenuCount span {
    color: #555555;
    font-size: 35px;
    font-weight: 700;
}

/* 합계 */
.basketTotal {
    position: absolute;
    bottom: 10%;
    width: 90%;
    margin: 5%;
    display: flex;
    justify-content: space-between;
}  

.basketTotal span {
    font-size: 30px;
}

.basketTotalPrice {
    font-size: 35px;
    font-weight: 600;
}

/* 주문하기 버튼 */
.basketOrderButton {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 100%;
    height: 10%;
    transform: translateX(-50%);
    border: 0px;
    border-radius: 0 0 10px 10px;
    background-color: #FF5B5B;
    color: white;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 20px;
}