.wineMain {
    height: 100%;
    overflow-x: auto;
    flex-wrap: wrap;
}

.wineItem {
    margin: 70px 2% 0px 2%;
    display: flex;
    color: white;
   
    p {
        margin: 0%;
    }

    img {
        width: 350px;
        height: 350px;
        border-radius: 20px; 
    }

    .wineDetails {
        width: 100%;
        margin: 2%;

        .wineInfo {
            display: flex;
            justify-content: space-between;
    
            .wineName {
                font-size: 40px;
                font-weight: 700;
        
                .nameKR {
                    font-size: 35px;
                }
            }
        
            .price {
                font-size: 70px;
                font-weight: 900;
            }
        }    

        .wineInfoContainer {
            margin-top: 10%;
            display: flex;
            justify-content: space-between;

            .wineFeatures {
                padding-left: 20px;
                display: flex;
                border-left: 3px solid #FF5B5B;
    
                p {
                    font-size: 25px;
                    font-weight: 700;
                }
            }
    
            .alc {
                font-size: 45px;
            }
    
            .origin {
                font-size: 45px;
            }
        }
    }
}